.App {
  text-align: center;
  font-family: "Courgette", cursive;
  padding-top: 60px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.special-button {
  position: relative;
  width: auto;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px wheat;
  text-align: center;
  padding: 6px 18px 4px;
  margin: 1px;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px #07516c;
  -moz-box-shadow: 0px 6px 0px #07516c;
  box-shadow: 0px 6px 0px #07516c;
}

.special-button:active {
  -webkit-box-shadow: 0px 2px 0px #07516c;
  -moz-box-shadow: 0px 2px 0px #07516c;
  box-shadow: 0px 2px 0px #07516c;
  position: relative;
  top: 4px;
}
