.App {
  text-align: center;
  font-family: "Courgette", cursive;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.profile {
  display: flex;
  align-items: center;
  position: relative;
}

.profile img {
  max-width: 30px;
  max-height: 30px;
  margin-right: 10px;
}
